<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item *ngFor="let item of items">
			Hey there
		</ion-item>
	</ion-list>
</ion-content>
